<template>
  <div class="add-todo">
    <input type="text" v-model="title"/>
    <button v-on:click="addTodo">Add</button>
  </div>
</template>

<script>

import axios from "axios";

export default {
  name: "CreateTodo",
  data() {
    return {
      title: ''
    }
  },
  methods: {
    addTodo() {
      axios.post("http://104.236.59.19:16500/todo/addtodo", {
        'Title': this.title,'Completed':false
      }, {
        headers: {
          'Content-Type': 'application/json'
        }
      }).then((resp) => {
        this.title = ''
        this.$emit('todoAdded', resp.data)
      })
    }
  }
}
</script>