<template>
  <div class="todoList">
    <p v-for="todo in todoList" :key="todo.Id">
      {{ todo.Title }}
    </p>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Todos",
  props: {
    todoList: {
      type: Array,
      default: () => []
    },
    newToDo: Object
  },
  methods: {
    getToDoList() {
      axios.get("http://104.236.59.19:16500/todo/alltodo").then((resp) => {
        if (resp.data) {
          resp.data.forEach((y) => {
            this.todoList.push(y)
          })
        }
      })
    }
  },
  watch: {
    newToDo: function (todo) {
      this.todoList.push(todo)
    }
  },
  created() {
    this.getToDoList();
  }
}
</script>