<template>
  <div id="app">
    <CreateTodo @todoAdded="todoAdded"/>
    <Todos :newToDo="addedToDo"/>
  </div>
</template>

<script>
import CreateTodo from '@/components/CreateTodo'
import Todos from "@/components/Todos";

export default {
  name: 'App',
  components: {
    Todos,
    CreateTodo
  },
  data: function () {
    return {
      addedToDo: null
    }
  },
  methods: {
    todoAdded(addedObject) {
     this.addedToDo = addedObject
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 10px;
}
</style>
